# 
# Configure the leaflet map generation for variations on the 
# basic map. 
#
# Note: Options should be valid Python variable names, so that 
#   they can be used directly in Jinja2 templates. 
# 
[DEFAULT]
page_title = RUSA Permanents
sidebar = no

[multi_state]
page_title = Multi-State RUSA Permanents
sidebar = True
sidebar_link_href = rusaperms.html
sidebar_link_name = All permanents

[all_perms]
page_title = RUSA Permanents (comprehensive)
sidebar = True
sidebar_link_href = rusa-multi.html
sidebar_link_name = Multi-state permanents

[br100]
page_title = RUSA Perm Populaires

[br200]
page_title = RUSA 200k Permanents

[br300]
page_title = RUSA 300k Permanents

[br400]
page_title = RUSA 400k Permanents

[br600]
page_title = RUSA 600k Permanents

[br1000]
page_title = RUSA 1000k Permanents

[br1200]
page_title = RUSA 1200k Permanents 

