# 
# Configure the leaflet map generation for variations on the 
# basic map. 
#
# Note: Options should be valid Python variable names, so that 
#   they can be used directly in Jinja2 templates. 
# 
[DEFAULT]
page_title = RUSA Permanents
# url_base = https://rusa-maps.s3.us-west-2.amazonaws.com/
url_base = https://rusa-maps-wip.s3.us-west-2.amazonaws.com/
# sidebar = True
list_states = False
lat =  37.0172494
lon = -97.1836641
zoom = 4
sidebar_link_href = rusaperms.html
sidebar_link_name = All permanents


[multi_state]
page_title = Multi-State RUSA Permanents
# # sidebar = True
sidebar_link_href = rusaperms.html
sidebar_link_name = All permanents
list_states = True

[all_perms]
page_title = RUSA Permanents (comprehensive)
# # sidebar = True
sidebar_link_href = rusa-multi.html
sidebar_link_name = Multi-state permanents

[br100]
page_title = RUSA Perm Populaires
# sidebar = False

[br200]
page_title = RUSA 200k Permanents
# sidebar = False

[br300]
page_title = RUSA 300k Permanents
# sidebar = False

[br400]
page_title = RUSA 400k Permanents
# sidebar = False

[br600]
page_title = RUSA 600k Permanents
# sidebar = False

[br1000]
page_title = RUSA 1000k Permanents
list_states = True
# sidebar = False

[br1200]
page_title = RUSA 1200k Permanents 
list_states = True
# sidebar = False

[long]
page_title = RUSA Perms 1000k and longer
list_states = True
# sidebar = False

#
# Individual states
# 
[OR]
page_title = Oregon permanents
lat = 44.3214702
lon = -116.7026647
zoom = 6
# sidebar = True

[WA]
page_title = Washington permanents
lat = 46.3696374
lon = -119.3758121
zoom = 6

[CA]
page_title =  California permanents
lat = 38.0778229
lon = -118.8336046
zoom = 6

[NV]
page_title = Nevada permanents
lat = 38.0778229
lon = -118.8336046
zoom = 6

[AZ]
page_title = Arizona permanents
lat = 34.7545866
lon = -111.2530382
zoom = 7

[UT]
page_title = Utah permanents
lat = 39.2614976
lon = -111.6265733
zoom = 6

[ID]
page_title = Idaho permanents
lat = 45.5020138
lon = -115.1421983
zoom = 6

[MT]
page_title = Montana permanents
lat = 46.2363757
lon = -110.3961046
zoom = 6

[WY]
page_title = Wyoming permanents
lat = 43.0001256
lon = -107.7374132
zoom = 7

[CO]
page_title = Colorado permanents
lat = 38.9289661
lon = -105.6280382
zoom = 7

[NM]
page_title = New Mexico permanents
lat = 34.5648152
lon = -106.2872178
zoom = 6

[ND]
page_title = North Dakota permanents
lat = 47.0584267
lon = -100.5084092
zoom = 7

[SD]
page_title = South Dakota permanents
lat = 44.3508574
lon = -100.3436143
zoom = 7

[NE]
page_title = Nebraska permanents
lat = 41.4380916
lon = -99.9371202
zoom = 7

[KS]
page_title = Kansas permanents
lat = 38.3540397
lon = -98.3111436
zoom = 6

[OK]
page_title = Oklahoma permanents
lat = 35.105864
lon = -97.3443467
zoom = 6

[TX]
page_title = Texas permanents
lat = 32.0307788
lon = -99.695421
zoom = 6

[LA]
page_title = Louisiana permanents
lat = 31.3108193
lon = -92.4774034
zoom = 7

[AR]
page_title = Arkansa permanents
lat = 31.3108193
lon = -92.4774034
zoom = 7

[MO]
page_title = Missouri permanents
lat = 38.2592084
lon = -91.126085
zoom = 7

[IA]
page_title = Iowa permanents
lat = 41.6190336
lon = -93.301378
zoom = 7

[MN]
page_title = Minnesota permanents
lat = 46.1831564
lon = -93.3123643
zoom = 6

[WI]
page_title = Wisconsin permanents
lat = 44.7189272
lon = -89.7967393
zoom = 6

[IL]
page_title = Illinois permanents
lat = 41.0001095
lon = -88.983751
zoom = 6

[MI]
page_title = Michigan permanents
lat = 43.2966966
lon = -84.3035753
zoom = 6

[IN]
page_title = Indiana permanents
lat = 40.1153624
lon = -85.9185655
zoom = 7

[OH]
page_title = Ohio permanents
lat = 40.4466281
lon = -81.9293024
zoom = 7

[KY]
page_title = Kentucky permanents
lat = 37.7310796
lon = -84.7540147
zoom = 6

[TN]
page_title = Tennessee permanents
lat = 35.1687544
lon = -84.5123155
zoom = 6

[MS]
page_title = Mississippi permanents
lat = 32.9112951
lon = -89.5440538
zoom = 6

[AL]
page_title = Alabama permanents
lat = 32.7358817
lon = -86.6326768
zoom = 6

[FL]
page_title = Alabama permanents
lat = 28.7546662
lon = -81.4171823
zoom = 6

[GA] 
page_title = Georgia permanents
lat = 32.3674437
lon = -83.1530221
zoom = 6

[SC]
page_title = South Carolina permanents
lat = 33.7759597
lon = -80.8458932
zoom = 7

[NC] 
page_title = North Carolina permanents
lat = 35.3590485
lon = -80.4613717
zoom = 6

[VA]
page_title = Virginia permanents
lat = 37.1660156
lon = -79.3627389
zoom = 6

[WV]
page_title = West Virginia permanents
lat = 39.1696855
lon = -80.8568795
zoom = 6

[MD]
page_title = Maryland permanents
lat = 38.8621213
lon = -77.4416195
zoom = 7

[DC]
page_title = DC permanents
lat = 38.8557051
lon = -77.0763241
zoom = 9

[DE]
page_title = Delaware permanents
lat = 39.0607373
lon = -75.4558407
zoom = 8

[NJ]
page_title = New Jersey permanents
lat = 40.7628168
lon = -74.5329891
zoom = 7

[PA]
page_title = Pennsylvania permanents
lat = 40.8875183
lon = -77.0488583
zoom = 7

[RI]
page_title = Rhode Island permanents
lat = 41.843946
lon = -71.6435848
zoom = 6

[NY]
page_title = New York permanents
lat = 43.1239981
lon = -75.5876766
zoom = 7

[CT]
page_title = Connecticut permanents
lat = 41.9379976
lon = -72.6982723
zoom = 8

[MA]
page_title = Massachusetts permanents
lat = 42.2233894
lon = -72.2203671
zoom = 6

[NH]
page_title = New Hampshire permanents
lat = 43.5992471
lon = -72.2258602
zoom = 7

[VT]
page_title = Vermont permanents
lat = 43.5992471
lon = -72.2258602
zoom = 7

[ME]
page_title = Maine permanents
lat = 45.4244386
lon = -69.4353329
zoom = 7

[HI]
page_title = Hawaii permanents
lat = 20.6861247
lon = -156.9424801
zoom = 7

[AK]
page_title = Alaska permanents
lat = 64.192272
lon = -151.0697502
zoom = 4

[PR]
page_title = Puerto Rico permanents
lat = 17.8012838
lon = -66.1978433
zoom = 8 

