<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>RUSA Permanents</title>
<style>
body {
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 12pt; 
}
table { 
  border-collapse: separate;
  border-spacing: 1ex 1ex; 
}
td {
 padding: 0.5ex;
 font-weight: bolder;
 background: rgb(225, 228, 234); 
}
.banner {
  max-width: 30em;
  padding-left: 2em; 
 background: rgb(225, 228, 234); 
}
</style>
</head>

<body>
<div class="banner">
<h1>RUSA Permanents</h1>
<h2>Maps of starting locations</h2>
</div> 

<!--
<h2>Comprehensive</h2>
<ul>
  <li><a href="rusaperms.html">All permanents</a>
     (~1M download)</li>
  <li><a href="rusa-multi.html">Multi-state permanents</a></li>
</ul>
<h2>By distance</h2>
<ul>
  <li><a href="{{urlbase}}permpops.html"><strong>Permanent populaires</strong></a>(100-199km)</li>
  <li><a href="{{urlbase}}perms200.html"><strong>200km</strong> permanents</a> (to 299km)</li>
  <li><a href="{{urlbase}}perms300.html"><strong>300km</strong> permanents</a>  (to 399km)</li>
  <li><a href="{{urlbase}}perms400.html"><strong>400km</strong> permanents</a> (to 599km)</li>
  <li><a href="{{urlbase}}perms600.html"><strong>600km</strong> permanents</a> (to 999km)</li>
  <li><a href="{{urlbase}}longperms.html"><strong>1000k</strong></a> and longer</li>
</ul>
-->

<h2>By state or area</h2>
<table class="areas">
  <tr>
    <td><a href="{{urlbase}}AK.html">AK</a></td>
    <td><a href="{{urlbase}}AL.html">AL</a></td>
    <td><a href="{{urlbase}}AR.html">AR</a></td>
    <td><a href="{{urlbase}}AZ.html">AZ</a></td>
    <td><a href="{{urlbase}}CA.html">CA</a></td>
  </tr><tr>
    <td><a href="{{urlbase}}CO.html">CO </a></td>    
    <td><a href="{{urlbase}}CT.html">CT </a></td>
    <td><a href="{{urlbase}}DE.html">DE </a></td>
    <td><a href="{{urlbase}}FL.html">FL </a></td>
    <td><a href="{{urlbase}}GA.html">GA </a></td>
  </tr><tr>
    <td><a href="{{urlbase}}HI.html">HI </a></td>
    <td><a href="{{urlbase}}IA.html">IA </a></td>
    <td><a href="{{urlbase}}ID.html">ID </a></td>
    <td><a href="{{urlbase}}IL.html">IL </a></td>
    <td><a href="{{urlbase}}IN.html">IN </a></td>
  </tr><tr>
    <td><a href="{{urlbase}}KS.html">KS </a></td>
    <td><a href="{{urlbase}}KY.html">KY </a></td>
    <td><a href="{{urlbase}}LA.html">LA </a></td>
    <td><a href="{{urlbase}}ME.html">ME </a></td>
    <td><a href="{{urlbase}}MD.html">MD </a></td>
  </tr><tr>
    <td><a href="{{urlbase}}MA.html">MA </a></td>
    <td><a href="{{urlbase}}MI.html">MI </a></td>
    <td><a href="{{urlbase}}MN.html">MN </a></td>
    <td><a href="{{urlbase}}MS.html">MS </a></td>
    <td><a href="{{urlbase}}MO.html">MO </a></td>
  </tr><tr>
    <td><a href="{{urlbase}}MT.html">MT</a></td>
    <td><a href="{{urlbase}}NC.html">NC </a></td>
    <td><a href="{{urlbase}}ND.html">ND </a></td>
    <td><a href="{{urlbase}}NE.html">NE </a></td>
    <td><a href="{{urlbase}}NV.html">NV </a></td>
  </tr><tr>
    <td><a href="{{urlbase}}NH.html">NH </a></td>
    <td><a href="{{urlbase}}NJ.html">NJ </a></td>
    <td><a href="{{urlbase}}NM.html">NM </a></td>
    <td><a href="{{urlbase}}NY.html">NY </a></td>
    <td><a href="{{urlbase}}OH.html">OH </a></td>
  </tr><tr>
    <td><a href="{{urlbase}}OK.html">OK </a></td>
    <td><a href="{{urlbase}}OR.html">OR </a></td>
    <td><a href="{{urlbase}}PA.html">PA</a></td>
    <td><a href="{{urlbase}}RI.html">RI </a></td>
    <td><a href="{{urlbase}}SC.html">SC </a></td>
  </tr><tr>
    <td><a href="{{urlbase}}SD.html">SD </a></td>
    <td><a href="{{urlbase}}TN.html">TN </a></td>
    <td><a href="{{urlbase}}TX.html">TX </a></td>
    <td><a href="{{urlbase}}UT.html">UT </a></td>
    <td><a href="{{urlbase}}VT.html">VT </a></td>
  </tr><tr>
    <td><a href="{{urlbase}}VA.html">VA </a></td>
    <td><a href="{{urlbase}}WA.html">WA </a></td>
    <td><a href="{{urlbase}}WV.html">WV </a></td>
    <td><a href="{{urlbase}}WI.html">WI </a></td>
    <td><a href="{{urlbase}}WY.html">WY </a></td>
  </tr><tr>
    <td><a href="{{urlbase}}DC.html">DC </a></td>
    <td><a href="{{urlbase}}PR.html">PR </a></td>
  </tr>
</table>
</body> </html>
