<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>RUSA Permanents</title>
<style>
body {
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 12pt; 
}

.banner {
  max-width: 30em;
  padding-left: 2em; 
 background: rgb(225, 228, 234);
}

/* Revise using grid */
.state_table {
  display: grid;
  grid-template-columns: repeat(auto-fill, 7em);

}

.state {
  padding: 1ex;
}
</style>
</head>

<body>
<div class="banner">
<h1>RUSA Permanents</h1>
<h2>Maps of starting locations</h2>
</div> 

<h2>By state or area</h2>

<div class="state_table">
  {% for state, count in regions %}
  <div class="state">
    <a href="{{url_base}}{{state}}.html">{{state}}</a> ({{count}})
  </div>
  {% endfor %}
</div>


</body> </html>
